@media (width <= 768px) {
  body {
    background-color: #e5e5e5;
    padding: 0;
    margin: 0;
  }
}

.f {
  background-color: #fff;
  border-bottom-right-radius: 100px;
}

.logo {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 20px;
  font-weight: 700;
  padding-left: 18px;
  color: #6070ff;
}

.button {
  padding-right: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  box-sizing: content-box;
}

.hero {
  background-image: url("img/bd.svg");
  background-repeat: no-repeat;
  text-align: left;
  padding-top: 60px;
  padding-left: 18px;
  padding-right: 8px;
  padding-right: 18px;
}

.greeting {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #172b4d;
  font-weight: 700;
  font-size: 55px;
  line-height: 52px;
}

.info {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #344563;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.com {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
  list-style-type: none;
}

.social-media-links {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 100px;
}

.work {
  display: grid;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e5e5e5;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 16px;
  border: solid #e5e5e5 1px;
  background-color: #fff;
}

.title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  color: #172b4d;
}

.sub-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.canapy {
  color: #344563;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
}

.back {
  color: #7a869a;
  font-family: 'Poppin', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-content {
  color: #344563;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Poopin', Arial, Helvetica, sans-serif;
}

.languages {
  display: flex;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style-type: none;
  gap: 16px;
  padding-left: 0;
}

.languages li {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.see-projects {
  border: 1px solid #6070ff;
  border-radius: 10px;
  background-color: #f7f7f9;
  color: #396df2;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 12px;
  gap: 10px;
}

.see-projects:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
}

.see-projects:active {
  box-shadow: 2px 2px 5px #2230df;
}

.resume {
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  margin-left: 24px;
  gap: 10px;
  margin-top: 15px;
}

.resume:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
}

.about-myself {
  background-color: #fff;
  border-top-right-radius: 100px;
}

.myself {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 15px;
  color: #172b4d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.job-description {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
}

.connect {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 0px;
  color: #7f8cff;
  padding-top: 20px;
}

.social-media {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-left: 20px;
}

.aboutme-list {
  display: flex;
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 40px;
  list-style-type: none;
  justify-content: space-between;
  padding-bottom: 30px;
}

.first {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.third {
  justify-content: space-between;
  padding-right: 55px;
  display: flex;
  list-style-type: none;
  padding-top: 35px;
  padding-bottom: -10px;
  margin-bottom: 50px;
}

.frame {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.fourth {
  justify-content: space-between;
  padding-right: 55px;
  display: flex;
  list-style-type: none;
  padding-top: 10px;
  margin-top: 40px;
  margin-bottom: 1px;
}

.skill {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 50px;
}

.lang {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 15px;
  font-weight: 550px;
  font-size: 15px;
  padding-bottom: 15px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

hr {
  background-color: #dfe1e6;
  width: 327px;
}

.h {
  background-color: #dfe1e6;
  width: 327px;
  margin-bottom: 5px;
}
